Binaries
DerivedDataCache
Intermediate
Saved
Makefile
CMakeLists.txt
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.kdev4
*.log
*.pro
*.pri
*.zip
*.plastic*
*Ignored*
*.pyc
