Binaries
Build
DerivedDataCache
Intermediate
Saved
Script
/enc_temp_folder
Makefile
CMakeLists.txt
.ignore
.vscode
.vsconfig
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.code-workspace
*.xcodeproj
*.xcworkspace
*.kdev4
*.log
*.pro
*.pri
*.zip
*.pyc

*.plastic*

*Ignored*
